.footer {
	background: $footer-background;
	.footer-top {
		padding: 20px 0px 40px 0px;
	}
	.footer-midle {
		.footer-midle-content {
			margin-bottom: 20px;
			.footer-content {
				ul {
					@extend list-type-ulli;
					li {
						a {
							color: #303030;
						}
					}
				}
			}
		}
		.footer-connected-content {
			.email-subcribe {
				position: relative;
				margin: 15px 0px 40px 0px;
				input[type="email"]{
				    width: 100%;
				    border: none;
				    padding: 8px 20px;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #8e8e8e;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: #8e8e8e;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: #8e8e8e;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: #8e8e8e;
					}
				}
				input[type="submit"] {
					position: absolute;
					top: 0px;
					right: 0px;
				    border: none;
				    padding: 8px 20px;
				    background: $pink-bold;
				    color: #fff;
				    text-transform: uppercase;
				}
			}
			.footer-social {
				margin-top: 20px;
				ul {
					@extend list-type-ulli;
					li {
						float: left;
					    width: 30px;
					    height: 30px;
					    background: #fff;
					    border-radius: 50%;
					    /* text-align: center; */
					    @extend display-flex;
					    align-items: center;
					    justify-content: center;
					    margin-right: 15px;
						a {
							font-size: 20px;
							color: $footer-background;
							&:hover .fa {
							    color: $pink-bold;
							}
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		border-top:  1px solid #fff;
		color: #fff;
		padding: 8px 0;
		.footer-bottom-content {
			span {
				color: $red;
				font-weight: 600;
			}
		}
	}
}
.footer-title {
	h3 {		
		font-size: 24px;
		color: #303030;
		font-weight: 600;
		margin-bottom: 10px;
	}
}