//arrow
.slick-arrow {
    background: #c2c2c2;
    opacity: 0.8;
    border-radius: 50%;
}
.slick-prev {
    left: -9px;
    &::before {
        border-left: 5px solid #fff;
        @include transform( translate(-30%, -50%) rotate(-45deg) );
    }
}
.slick-next {
    right: -5px;
    &::before {
        border-right: 5px solid #fff;
        @include transform( translate(-60%, -50%) rotate(45deg) );
    }
}
.slick-prev, .slick-next {
    height: 40px;
    width: 40px;
    z-index: 2;
    &::before {
        border-top: 5px solid #fff;
        content: "";
        font-size: 0;
        left: 50%;
        opacity: 1;
        padding: 5px;
        position: absolute;
        top: 50%;
    }
    &:hover, &:focus {
       opacity: 0.5;
       background: #c2c2c2;
    }
}

#cboxPrevious:focus, #cboxNext:focus {
    outline: none;
}
.slick-slide:focus {
    outline: none;
}

//dot
.slick-slider {
    .slick-dots {
        bottom: 0;
        left: 0;
        li {
            @include border-radius( 50% );
            height: auto;
            padding: 3px;
            width: auto;
            border: 1px solid transparent;
            button {
                background: #fff none repeat scroll 0 0;
                @include border-radius( 50% );
                color: #fff;
                height: auto;
                padding: 7px;
                width: auto;
                &::before {
                    content: "";
                }
            }
        }
        .slick-active {
            border: 1px solid #000;
        }
    }
}


//dot home
.slick-slider .slick-dots {
    bottom: -30px;
    .slick-active {
        border: none;
        button {
            background: $pink-bold;
        }
    }
}

