.header-content {
    position: relative;
    .menu {
        @extend display-flex;
        @include justify-content(flex-end);
         position: relative;
        .search-box {
            // position: relative;
            cursor: pointer;
            @extend display-flex;
            @include align-items( center );
            z-index: 15;
            margin: 30px 20px 15px 20px;
            form {
                input {
                    position: absolute;
                    top: 101%;
                    z-index: 100000;
                    right: 0;
                    background: rgba(0, 0, 0, 0.8) no-repeat scroll center center;
                    display: none;
                    padding: 5px 35px 5px 20px;
                    color: #fff;
                    border: none;
                }
                .search-icon .fa {
                    font-size: 18px;
                    color: #fff;
                    width: 35px;
                    height: 35px;
                    background: $pink-bold;
                    @include border-radius(50%)
                    @extend display-flex;
                    @include justify-content(center);
                    @include align-items( center );
                }
            }
        }
    }
    .logo {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
    }
}
.menu-primary {
    .main-menu {
        ul {
            @extend list-type-ulli;
            li {
                float: left;
                text-transform: uppercase;
                position: relative;
                &:after {
                    display: block;
                }
                &:hover {   
                    >a {
                        &:after {
                            max-width: 100%;
                        }
                    }
                }
                a {
                    position: relative;
                    color: #000;
                    padding: 15px;
                    display: block;
                    margin: 30px 20px 15px 20px;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    &:after {
                        background: $pink-bold;
                        bottom: 0;
                        content: "";
                        height: 2px;
                        left: 0;
                        max-width: 0;
                        position: absolute;
                        width: 100%;
                        @include transition(max-width 0.5s ease 0s);
                    }
                }
            }
        }
    }
}

//menu mobile
.menu-primary {
    .mean-container {
        .mean-bar {
            background: none;
            left: auto;
            right: 0;
            padding: 0;
            position: absolute;
            top: 30px;
            z-index: 9;
            max-width: 300px;
            min-height: 40px;
            z-index: 11;
            .meanmenu-reveal {
                background: $pink-bold;
                border: 1px solid rgba(255, 255, 255, 0.5);
                left: auto;
                top: 0;
                height: 16px;
                line-height: 20px;
                width: 16px;
                padding: 9px 11px 11px;
            }
            .mean-nav {
                background: $pink-bold;
                margin-top: 40px;
                ul {
                    li {
                        a {
                            padding-bottom: 10px;
                            padding-top: 10px;
                        }
                        .sub-menu {
                            li {
                                a {
                                    text-transform: none;
                                }
                            }
                        }
                        .mean-expand {
                            height: 17px;
                            line-height: 17px;
                            &:hover {
                                background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
