@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
	.header-content {
		.menu {
			padding: 30px 0px;
			.search-box {
				margin: 0px;
				margin-right: 60px;
			}
		}
	}
	//Checkout page
	.page-checkout-content {
		padding: 50px 0px 50px 0;
	}
	.page-checkout-content .breadcrumbs {
		text-align: center;
	}
}
//end 1200px

@media screen and (max-width: 1024px) {
	//Cart
	.cart .cart-table .table td {
		padding: 10px;
	}

}
//end 1024px

@media screen and (max-width: 992px) {
	//Section title
	.section-title h2 {
		margin: 0px;
	}
	//Best Selling
	.best-selling-content {
		margin-bottom: 20px;
	}
	//Home introduce 
	.home-introduce {
	    padding: 20px 0px;
	}
	//checkout 
	.page-checkout-order {
		padding: 20px;
		.order-review {
			.order-review-content {
				table {
					th {
						padding: 15px 5px;
					}
					.product-name {
						text-align: center;
						img {
							width: auto;
							float: none;
							display: block;
							    margin: 0 auto;
						}
					}
				}
			}
		}
	}
}
//end 992px

@media screen and (max-width: 767px) {

	//Single prouct
	.single-product-content {
		.product-image {
			margin-bottom: 20px;
		}
		.product-info .pro-ice-sugar {
			display: block;
		}
	}
	//Cart
	.table-cart {
		overflow-x: auto;
	}
	.note {
		margin-bottom: 20px;
	}
	//Check out page
	.page-checkout-content .page-checkout-info .form-checkout-info .wrap-group .checkbox-group .checkbox-item {
		width: 100%;
		float: none;
	}
	// Slick dots
	.slider .slick-dots {
		bottom: 15px;
	}
	.slick-slider .slick-dots li button {
		padding: 5px;
	}
}
//end 767px

@media screen and (max-width: 575px) {
	//Section title
	.section-title h1 {
		font-size: 24px;

	}
}
//end 575px

@media screen and (max-width: 480px) {

}
//end 480px

@media screen and (max-width: 400px) {
	//Single product
	.single-product-content .product-info .pro-add select {
		width: 250px;
	}
}
//end 400px

@media screen and (max-width: 320px) {

}
