.page-checkout {
	@include box-shadow(inset 0px 5px 15px rgba(241, 241, 241, 0.8));
}

.page-checkout-content {
	padding: 50px 30px 50px 0;
	.breadcrumbs {
	    text-align: left;
	    .container {
	    	padding: 0;
	    }
	}
	.section-title h1 {
	    margin: 0;
	}
	.page-checkout-info {
	    padding: 0 50px;
		.form-checkout-title {
		    font-size:  18px;
		    font-weight: bold;
		    text-transform:  uppercase;
		}
		.form-checkout-info {
		    font-size: 16px;
		    font-weight: bold;
			.wrap-group {
				input, select {
				    border:  1px solid #b4b4b4;
				    @include border-radius( 5px );
				    background: #fff !important;
			        height: 38px;
				    padding: 5px 15px;
				    font-size:  14px;
				    width: 100%;
				    color: #b4b4b4;
				    margin: 10px 0;
				}
		        label span {
		        	font-size: 16px;
		        	font-weight: normal;
		        }
		        .checkbox-group {
				    .checkbox-item {
				    	width: 50%;
				    	float: left;
				    }
				}
			}
		}
	}
}

.page-checkout-order {
	padding: 70px;
    background: #e5e5e5;
    position: relative;
    &:before {
	    content: "";
	    position: absolute;
	    left: 100%;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: #e5e5e5;
	    z-index: 2;
	}
	.order-review {
		.order-review-content {
		    background: #fff;
		    border: 1px solid #b4b4b4;
		    border-radius: 5px;
		    text-align: center;
		    font-size: 16px;
		    font-weight: bold;
		    h3 {
			    background: $pink-bold;
			    color: #fff;
			    font-size: 18px;
			    text-transform: uppercase;
			    text-align: center;
			    padding: 10px 0;
			}
			table {
			    width: calc(100% - 70px);
			    margin: auto;
			    th {
				    vertical-align:  middle;
				    padding: 25px 15px;
				    img {
					    width: 20px;
					    margin-right: 10px;
					    float: left;
					}
				}
				.product-quality {
				    color: $pink-bold;
				}
			}
			.order-total {
			    margin: auto;
			    display:  inline-block;
			    width:  100%;
			    padding: 20px 35px;
			    border-top: 1px solid #b4b4b4;
			    span {
				    float:  left;
				    width: 50%;
				    text-align:  left;
				    padding: 0 20px;
				    &:nth-child(2) {
					    text-align: right;
					}
				}
			}
		}
		.wc-proceed-to-checkout a {
		    display: block;
		    background: $pink-bold;
		    color: #fff;
		    font-size: 18px;
		    text-align: center;
		    font-weight: bold;
		    margin: 30px 0;
		    border-radius: 30px;
		    padding: 5px 0;
		}
	}
}



.checkbox-group {
    .checkbox-item {
        position: relative;
        label {
		    position: absolute;
		    top: 15px;
		    left: 25px;
		    width: 100%;
		    margin: 0;
            &:after {
			    opacity: 0;
			    content: '';
			    position: absolute;
			    width: 10px;
			    height: 7px;
			    top: 10px;
			    left: -20px;
			    border: 3px solid #fff;
			    border-top: none;
			    border-right: none;
			    @include transform( rotate(-45deg) );
			    z-index: 3;
	            span {
	                padding: 5px 30px;
	                display: block;
	                @include border-radius( 4px );
	            }
	        }
	        &::before {
			    position: absolute;
			    content: "";
			    width: 20px;
			    height: 20px;
			    background: #fff;
			    z-index: 2;
			    left: -25px;
			    top: 5px;
			    border-radius: 50%;
			    border: 2px solid #e5e5e5;
			}
        }
        input {
        	margin: 0;
            &[type=radio] {
            	visibility: hidden;
                &:checked {
                    + label {
                        &:after {
                            opacity: 1;
                        }
                        &:before {
						    background: $pink-bold;
						    border: none;
						}
                    }
                }
            }
        }
    }
}
