.single-product-content {
	margin-bottom: 100px;
	.full-image {
		background: $footer-background;
		padding: 30px 0px;
	    text-align: center;
	}
	.product-info {
		.pro-price {
			margin: 15px 0px 5px 0px;
			span {
				font-size: 24px;
				font-weight: 600;
			}
		}
		.pro-topping {
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.pro-choice {
			.prochoice-title {
				font-size: 18px;
				color: #818181;
				margin-bottom: 10px;
			}
			ul {
				@extend list-type-ulli;
				li {
					float: left;
				}
			}
		}
		.pro-size {
			@extend display-flex;
			color: $pink-bold;
			ul {
				margin-left: 45px;
				li {
				    font-size: 20px;
				    width: 35px;
				    height: 35px;
				    margin-right: 15px;
				    border: 1px solid $pink-bold;
				    @include border-radius(50%);
				    text-align: center;
				    @extend display-flex;
				    @include justify-content(center);
				    @include align-items(center);
				    display: inline-block;
				    &:hover {
				    	background: $pink-bold;
				    	color: #fff;
				    }
				}
			}
		}
		.pro-ice-sugar {
			@extend display-flex;
			@include justify-content(space-between);
			ul {
				margin-top: 10px;
				li {
					margin-right: 20px;
					img {
						filter: grayscale(100%) opacity(50%);
					}
					span {
						display: block;
						text-align: center;
						padding: 5px 0px;
					}
					&:last-child {
						margin-right: 0px;
					}
				}
				.ice-active {
					img {
						filter: grayscale(0%) opacity(100%);
					}
				}
			}
		}
		.pro-add {
			margin-bottom: 10px;
			span {
				display: block;
			}
			select {
				width: 390px;
				border: 1px solid #000;
				padding: 5px 10px;
				background: #fff url('../../assets/images/icon-drop-down.png') no-repeat scroll;
				background-position: right 10px center;
			}
		}
		.read-more {
			text-align: left;
		}
	}
}
.red {
	color: #df0024;
}
.active {
	background: $pink-bold;
	color: #fff;
}