//pagenavi search
.page-navi {
    text-align: center;
    margin: 0 auto 30px;
    .page-numbers {
		padding: 3px 10px;
		border: 1px solid transparent;
		color: #000;
		font-size: 18px;
	}
	.current {
	    border: 1px solid #000;
	}
}

//pagenavi listing
.pagination {
	display: block;
    text-align: center;
    width: 100%;
    ul {
    	list-style-type: none;
	    margin: 60px 0px;
	    display: inline-block;
	    padding: 0;
	    li {
		    float: left;
		    padding: 0 3px;
		    a, span {
				padding: 8px 12px;
				border: 1px solid transparent;
				color: #000;
				@include border-radius(8px);
				border: 1px solid #c1c1c1;
			}
			.current {
				background: #c1c1c1;
			}
		}
	}
}