.cart {
	padding: 50px 0px;
	@include box-shadow(inset 0px 5px 15px rgba(241, 241, 241, 0.8));
	.cart-table {
		.table {
			text-align: center;
			td{
				padding: 20px 40px;
				vertical-align: middle;
			}
			thead {
				background: #f1f1f1;
				th {
					border-bottom: none;
					border-top: none;
					font-weight: normal;
					&:first-child {
						border-left: 0px;
						border-top-left-radius: 10px; 
					}
					&:last-child {
						border-right: 0px;
						border-top-right-radius: 10px; 
					}
				}
			}
			tbody {
				tr {
					&:first-child {
						td {
							border-top: none;
						}
					}
				}
			}
			.quality {
				position: relative;
				width: 90px;
				margin: 0 auto;
				input {
					width: 100%;
					text-align: center;
					border: 1px solid #dadada;
					padding-left: 15px;
				}
				span {
					width: 30px;
					height: 100%;
					background: $pink-bold;
					color: #fff;
					font-size: 18px;
                    @extend display-flex;
                    @include justify-content(center);
                    @include align-items( center );
				}
				.minus {
					position: absolute;
					left: 0px;
					top: 0px;
				}
				.plus {
					position: absolute;
					top: 0px;
					right: 0px;
				}
			}
		}
		.table-bordered {
			border: none;
		}
		.note {
			label {
			    font-weight: 600;
			    font-size: 16px;
			}
			label, textarea {
				display: block;
			}
			textarea {
				width: 100%;
				height: 130px;
				border: 1px solid #dadada;
				@include border-radius(8px);
			}
		}
		.cart-total {
		    font-weight: 600;
		    font-size: 16px;
			a, span {
				display: block;
			}
			span {
				margin-bottom: 10px;
			}
			.cart-button {
				background: #e6e6e6;
				text-align: center;
				color: #000;
				@include border-radius(20px);
			    padding: 6px 0px;
			    margin-bottom: 5px;
			    font-family: Helvetica Neue;
			}
			.order-button {
				background: $pink-bold;
				color: #fff;
			}
		}
	}
}	