.google-map {
	margin-bottom: 30px;
}
.contact-us-content {
	.contact-form {
		margin-bottom: 30px;
		.wrap-group {
			input, textarea {
				border: 1px solid #bfbfbf;
				@include border-radius(4px);
				display: block;
				width: 100%;
				padding: 5px 15px;
				margin-bottom: 15px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #b4b4b4;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #b4b4b4;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #b4b4b4;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #b4b4b4;
				}
			}
			input {
				
			}
			textarea {
				height: 180px;
			}
		}
		.btn {
			text-align: center;
			display: block;
			padding: 15px 0px;
			.submit {
				background: $pink-bold;
				padding: 5px 55px;
				@include border-radius(20px);
			    display: inline-block;
			    color: #fff;
			    border: none;
			    font-size: 14px;
			}
		}
	}
}