//slider
.slider {
	position: relative;
	z-index: 3;
	.slick-dots {
		position: absolute;
		bottom: 45px;
	}
	.slick-prev {
		left: 122px;
	}
	.slick-next {
		right: 122px;
	}
}

.product-slider-list {
	.slick-prev, .slick-next {
	    height: calc(100% - 60px);
	    width: 40px;
	    z-index: 9;
	    transform: translateY(0);
	    top: 0;
	    opacity: 1;
	    background: transparent;
	    &:after {
		    position: absolute;
		    content: "";
		    background: #e6e6e6;
		    opacity: 0.8;
		    width: 40px;
		    height: 40px;
		    border-radius: 50%;
		    left: 0px;
		    top: 50%;
		    transform: translateY(-50%);
		    z-index: 2;
	    }
	    &:before {
	    	z-index: 10;
	    }
	}
	.item {
		.info {
			text-align: center;
			.title {
				h3 {
					font-size: 14px;
					color: #000;
					font-weight: 600;
					font-family: 'Open Sans', sans-serif;
				}
			}
			.price {
				font-size: 16px;
				color: $pink-bold;
				font-weight: 600;
			}
		}
	}
}

//Best selling 
.best-selling-content {
	.product-slider {
		margin-bottom: 30px;
		.product-slider-title {
			text-align: center;
			margin-bottom: 30px;
			h3 {
				font-size: 30px;
			}
		}
		.item {
			@include hover-img-toa-item();
			@extend background-cover-figure;
			margin-right: 5px;
			&:last-child {
				margin-right: 0px;
			}
			margin-bottom: 0px;
			figure {
			    @include border-radius(15px);
			}
		}
	}
}

//Sale tea
.sale-tea-content {
	margin-bottom: 50px;
	.item {
		@include hover-img-toa-item();
	    margin: 0 15px;
	    figure {
	    	@include border-radius(12px);
	    }
	}
	img {
		// margin: 0px 15px;
	}
	.slick-prev {
		left: 6px;
	}
	.slick-next {
	    right: 6px;
	}
}

//Home bannner
.home-banner {
	img {
		width: 100%;
	}
}

//Home introduce
.home-introduce {
	padding: 70px 0px;
	.home-introduce-title {
		text-align: center;
		h2 {
		    font-size: 36px;
		    font-weight: 600;
		    position: relative;
		    padding-bottom: 15px;
		    font-family: Helvetica Neue bold;
		    &:after {
		    	position: absolute;
		    	content: "";
		    	width: 11%;
		    	height: 3px;
		    	background: $pink-bold;
		    	bottom: 0px;
		    	left: 50%;
		    	transform: translateX(-50%);
		    }
		}
	}
	.home-introduce-content {
		padding-top: 30px;
		text-align: center;
	}
}
