.search-page {
	@include box-shadow (inset 0px 5px 15px rgba(241, 241, 241, 0.8));
}
.search-page-content {
	.search-title {
		text-align: center;
		padding: 50px 0px 20px 0px;
		font-size: 24px;
		border-bottom: 1px dashed $pink-bold;
		margin-bottom: 30px;
	}
	.search-list {
		.item {
			@include hover-img-toa-item();
			@extend background-cover-figure;
			margin-bottom: 30px;
			figure {
			   @include  border-radius(15px);
			}
			.info {
				text-align: center;
				.title {
					h3 {
						font-size: 14px;
						color: #000;
						font-weight: 600;
						font-family: 'Open Sans', sans-serif;
					}
				}
				.price {
					font-size: 16px;
					color: $pink-bold;
					font-weight: 600;
				}
			}
		}
	}
}