/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend background-contain; */
background-contain {
    @include background-size( contain );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend background-no-size; */
background-no-size {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend background-cover-figure; */
background-cover-figure {
    figure {
        img {
            @extend background-cover;
        }
    }
}
/* @extend display-flex; */
display-flex {
    display: flex;
    display: -webkit-flex;
}
/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
