@font-face {
    font-family: Helvetica Neue;
    src: url('../fonts/helveticaneue/helveticaneue_0.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Helvetica Neue bold;
    src: url('../fonts/helveticaneue/helveticaneuecondensedbold.ttf');
    font-weight: bold;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    @include transition(all 300ms ease 0s);
}

input,
select,
textarea {
    outline: none;
    @include appearance( unset);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    @include box-shadow-input(none);
}

input[type=checkbox] {
    @include appearance( checkbox);
}

input[type=radio] {
    @include appearance( radio);
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.form-control:focus {
    box-shadow: none;
}

.widget p {
    margin: 0;
}

.msc-listing {
    width: 100%;
}

.main {
    display: inline-block;
    width: 100%;
}

.fix-container {
    width: 900px;
    margin: auto;
}

.fw {
    float: left;
    width: 100%;
}

.stick {
    position: fixed;
    z-index: 999;
    background: rgba(225, 225, 225, 0.8);
}

.clear {
    clear: both;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear15 {
    clear: both;
    height: 15px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear30 {
    clear: both;
    height: 30px;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

main {
    overflow: hidden;
}

.widget-title {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    position: relative;
    h1 {
        font-size: 36px;
        font-weight: 600;
        display: inline-block;
        background: #fff;
        padding: 0 30px;
        margin: 30px 0;
        color: #000;
        text-transform: uppercase;
        font-family: Helvetica Neue bold;
    }
    h2 {
        font-size: 36px;
        font-weight: 600;
        display: inline-block;
        background: #fff;
        padding: 0 30px;
        margin: 30px 0;
        color: #000;
        font-family: Helvetica Neue bold;
    }
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        // background:  #000;
        border: 1px dashed $pink-bold;
        @include transform( translateY(-50%));
        z-index: -1;
    }
}

.title {
    h3 {
        font-size: 18px;
        color: $pink-primary;
        margin: 5px 0;
    }
}

.item {
    margin-bottom: 30px;
}

.desc {
    text-align: justify;
}

.read-more {
    text-align: center;
    a {
        background: $pink-bold;
        padding: 5px 30px;
        @include border-radius(20px);
        display: inline-block;
        color: #fff;
        font-size: 16px;
    }
}

.breadcrumbs {
    text-align: center;
    a,
    span {
        color: #000;
    }
}